<%- include ('partials/header') %>



<div class="container border">
    <h1>Here are all the blogs</h1>
    <hr>
    <div class="row">
    <% blogs.forEach(function(blog){ %>
        <div class="col-12 d-flex justify-content-center">
            <div class="card my-3" style="width: 30rem;">
                <img src="<%= blog.image %>" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= blog.title %>
                    </h5>
                    
                    <p class="card-text">
                        <%- blog.description.substring(0,100)%>...
                        <a href="/blogs/<%= blog._id%>">read more</a>
                    </p>
                    <p class="card-text"><small class="text-muted"><%= blog.created.toDateString()%></small></p>
                
                </div>
            </div>
        </div>
    
    <% }) %>
    </div>
</div>
        

<%- include ('partials/footer') %>
