<%- include ('partials/header') %>
<div class="container d-flex justify-content-center">
    <div class="card my-3" style="width: 36rem;">
        <div class="card-header">
            <h5 class="card-title">
                <%= blog.title %> 
            </h5>
        </div>
        
        <img src="<%= blog.image %>" class="card-img-top">
        <div class="card-body">
            <blockquote>
                <%= blog.created.toDateString()%>
            </blockquote>
            <p class="card-text">
                <%- blog.description%>
            </p>
        </div>
        <div class="card-footer">
            
                <form action="/blogs/<%=blog._id%>/edit" class="form-group" id="delete">
                    <button class="btn btn-sm btn-primary">Edit</button>
                </form>
                <form method="POST" action="/blogs/<%=blog._id%>?_method=DELETE" class="form-group" id="delete">
                    <button class="btn btn-sm btn-danger">Delete</button>
                </form>
            
            
        </div>
    </div>
</div>
   
<%- include ('partials/footer') %>